<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c78c6b">  <td>18/03/05 18:41:09</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Testcreation.intialize()[pri:0, instance:com.main.test.Testcreation@1d057a39]">&gt;&gt;intialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2008375914</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/03/05 18:41:12</td>   <td>3111</td> <td>&nbsp;</td><td title="&gt;&gt;Testcreation.intialize()[pri:0, instance:com.main.test.Testcreation@42e26948]">&gt;&gt;intialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@355351698</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/03/05 18:41:09</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testcreation.methidbefore()[pri:0, instance:com.main.test.Testcreation@1d057a39]">&gt;&gt;methidbefore</td> 
<td>&nbsp;</td>  <td>TestNG@2008375914</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/03/05 18:41:12</td>   <td>3112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testcreation.methidbefore()[pri:0, instance:com.main.test.Testcreation@42e26948]">&gt;&gt;methidbefore</td> 
<td>&nbsp;</td>  <td>TestNG@355351698</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/03/05 18:41:07</td>   <td>-2402</td> <td>&nbsp;</td><td title="&gt;&gt;Browserlaunching.set(java.lang.String)[pri:0, instance:com.main.test.Testcreation@42e26948]">&gt;&gt;set</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@355351698</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/03/05 18:41:07</td>   <td>-2402</td> <td>&nbsp;</td><td title="&gt;&gt;Browserlaunching.set(java.lang.String)[pri:0, instance:com.main.test.Testcreation@1d057a39]">&gt;&gt;set</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2008375914</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/03/05 18:41:50</td>   <td>41025</td> <td>&nbsp;</td><td title="&lt;&lt;Browserlaunching.teardown()[pri:0, instance:com.main.test.Testcreation@42e26948]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@355351698</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/03/05 18:41:51</td>   <td>42093</td> <td>&nbsp;</td><td title="&lt;&lt;Browserlaunching.teardown()[pri:0, instance:com.main.test.Testcreation@1d057a39]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2008375914</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/03/05 18:41:10</td>   <td>773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcreation.test1()[pri:0, instance:com.main.test.Testcreation@1d057a39]">test1</td> 
  <td>TestNG@2008375914</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/03/05 18:41:13</td>   <td>3367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcreation.test1()[pri:0, instance:com.main.test.Testcreation@42e26948]">test1</td> 
  <td>TestNG@355351698</td>   <td></td> </tr>
</table>
